<div class="about">
    <h2>About.</h2>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore recusandae odio, id sequi nostrum esse deserunt magni praesentium nemo excepturi, ut, est accusantium velit, cum amet distinctio fugit adipisci! Cupiditate?
</div>
