<h1>Posts</h1>

<div class="col-md-6">
    <ul class="list-unstyled">
    {{#each model as |post|}}
    <li>
        {{#link-to 'post' post}}
            {{post.title}} - <em> by {{post.author.name}} </em>
        {{/link-to}}
    </li>
    {{/each}}
    </ul>
</div>
<div class="col-md-6">
    {{outlet}}
</div>
